/* General styles for Cards */
.card {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
}
.card.level_9 {
    width: 33.33333%;
    height: 33.33333vh;
}
.card.level_16 {
    width: 25%;
    height: 25vh;
}
.card.level_25 {
    width: 20%;
    height: 20vh;
}
.card .item {
    margin: auto;
    box-shadow: 0.8em 0.8em 1em #75819d;
    background-color: #97b3ce;
    border: 1px solid #ccc;
    position: relative;
}
.card.level_9 .item {
    width: 30vh;
    height: 30vh;
    max-width: 30vw;
    max-height: 30vw;
}
.card.level_16 .item {
    width: 22vh;
    height: 22vh;
    max-width: 22vw;
    max-height: 22vw;
}
.card.level_25 .item{
    width: 18vh;
    height: 18vh;
    max-width: 18vw;
    max-height: 18vw;
}
.picture {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000;
}
.item.wrong.checked {
    background-color: #c09299;
}
.item.truth.checked {
    background-color: #66ad93;
}
.picture.close {
    display: none;
}

.index {
    font-size: 3em;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(0, 0, 0, 0);
}

.index.close {
    color: #4d5672;
}
