.level {
    display: block;
    position: relative;
    width: 100%;
    background-color: #9dbfe5;
    padding: 3% 5%;
    border: none;
    outline: 0.1em solid #fff;
    outline-offset: -0.2em;
    margin: 3% 0;
    font-size: 3em;
    font-weight: bold;
    color: #fff;
}
.level div {
    text-align: center;
}

@media (max-width: 990px) {
    .level {
        font-size: 2em;
    }
}

@media (max-width: 575px) {
    .level {
        padding: 5% 15%;
        font-size: 3em;
    }
}

@media (max-width: 400px) {
    .level {
        font-size: 2em;
    }
}

@media (max-height: 430px) {
    .level {
        margin: 1% 0;
        padding: 2% 5%;
        font-size: 2em;
    }
}
@media (max-height: 370px) {
    .level {
        margin: 1%;
        padding: 5% 5%;
        font-size: 2em;
    }
}

@media (max-height: 300px) {
    .level {
        font-size: 1.9em;
    }
}