.result.visible {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(10,10,33,0.51);
    font-size: 6rem;
    z-index: 201;
}
.result_container {
    margin-top: 40vh;
    transform: translateY(-50%);
    color: #e8dbff;
    font-weight: bold;
    text-align: center;
    font-size: inherit;
}
.result.invisible {
    display: none;
}
.result .text {
    text-shadow: 0px 0px 15px #49deaa;
    font-style: italic;
}
.result .data {
    margin-top: 3%;
    font-size: 8rem;
    color: #fff975;
    text-shadow: 0px 0px 30px #49deaa;
}
.btn {
    background-color: transparent;
    border: 2px solid #d8ff9c;
    outline: none;
    border-radius: 5px;
    padding: 0.3% 2%;
    font-size: 4rem;
    color: #fff975;
    text-shadow: 0px 0px 30px #49deaa;
}
.btn:hover {
    border: 2px solid #fff;
    color: #fff;
}
.btn:focus {
    border: 2px solid #98f39c;
    color: #98f39c;
}

@media (max-width: 770px) {
    .result .text {
        font-size: 4rem;
    }
    .result .data {
        margin-top: 3%;
        font-size: 5rem;
    }
}
@media (max-width: 575px) {
    .result .text {
        font-size: 3rem;
    }
    .result .data {
        font-size: 4rem;
    }
}

@media (max-width: 575px) {
    .result {
        font-size: 2rem;
    }
    .result .data {
        font-size: 3rem;
    }
}

@media (max-height: 575px) {
    .result {
        font-size: 2rem;
    }
    .result .data {
        font-size: 3rem;
    }
}