.level {
    display: block;
    position: relative;
    width: 100%;
    background-image: linear-gradient(50deg, #708295, #63c4b1, #848999);
    padding: 3% 5%;
    border: none;
    outline: 0.1em solid #fff;
    outline-offset: -0.2em;
    margin: 3% 0;
    font-size: 3em;
    font-weight: bold;
    color: #fff;
    text-shadow: 0px 3px 3px #018770;
    box-shadow: 0vh 0vh 2vh #c8fcec;
}
.level:hover {
    background-image: linear-gradient(50deg, #8d9eaf, #85d7c9, #b3b6c2);
}
.level:focus {
    background-image: linear-gradient(50deg, #8d9eaf, #85d7c9, #b3b6c2);
    outline: 0.1em solid #fff5b7;
}
.level div {
    text-align: center;
}

@media (max-width: 990px) {
    .level {
        font-size: 2em;
    }
}

@media (max-width: 575px) {
    .level {
        padding: 5% 15%;
        font-size: 3em;
    }
}

@media (max-width: 400px) {
    .level {
        font-size: 2em;
    }
}

@media (max-height: 430px) {
    .level {
        margin: 1% 0;
        padding: 2% 5%;
        font-size: 2em;
    }
}
@media (max-height: 370px) {
    .level {
        margin: 1%;
        padding: 5% 5%;
        font-size: 2em;
    }
}

@media (max-height: 300px) {
    .level {
        font-size: 1.9em;
    }
}